body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.drawerWidth > div:nth-child(2){
  width:45% !important;
}
.react-grid-Cell{
  border-left: 1px solid #eee;
  text-align: center;
}
.react-grid-HeaderCell{
  border-left: 1px solid #eee;
  text-align: center;
}
